{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block head_style %}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@BernusDesignBundle/Resources/styles/global.less'
        '@BernusDesignBundle/Resources/styles/border.less'
        filter='less,yui_css,cssrewrite'
        output='css/design.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% if author is defined %}
        {% if author == "Oxylos" %}
            {% stylesheets
                '@BernusDesignBundle/Resources/styles/Oxylos.scss'
                filter='compass,?yui_css'
                output='css/Oxylos.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endif %}

        {% if author == "Tarran" %}
            {% stylesheets
                '@BernusDesignBundle/Resources/styles/Tarran.scss'
                filter='compass,?yui_css'
                output='css/Tarran.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endif %}
    {% endif %}
{% endblock head_style %}

{% block page_header %}
{% endblock page_header %}

{% block navbar %}
    {% if author is defined and author == "Oxylos" %}
<div id="header">
    <img src="/bundles/bernusdesign/images/Oxylos/header_outre_ca.png" alt="Outre-Ca">
</div>
<div id="banner">
    <img src="/bundles/bernusdesign/images/Oxylos/banner.png" alt="Oxylos">
</div>
    {% endif %}
{% endblock navbar %}

{% block header %}
{% if author is defined and author == "Tarran" %}
<div id="header">
    <img src="/bundles/bernusdesign/images/Tarran/header_outre_ca.png" alt="Outre-Ca">
</div>

<div id="chapter_nav">
    <div id="table_of_content">
        <a href="{{ path('blog', { 'author': "Dora", 'page': 1 }) }}">Table des matières</a>
    </div>
    <div id="resume">
        <a href="{{ path('about') }}">Reprendre depuis la dernière lecture</a>
    </div>
</div>
{% endif %}
{% endblock header %}
