{% extends 'BlogBlogBundle::layout.html.twig' %}

{% block content %}
{% for article in pagination %}

<div class="article">

    <header>
        <address><strong>{{ article.author }}</strong>, le {{ article.publicationDate|date('d/m/Y') }}</address>
        <h3><a href="{{ path('blog_show', {'author': article.author, 'id': article.id, 'title': article.title }) }}">{{ article.title }}</a></h3>
    </header>

    <div class="content">{{ article.content|raw('html') }}</div>

</div>

{% else %}

<div>
    <p>Pas (encore !) d'articles</p>
</div>

{% endfor %}

<nav>
{{ knp_pagination_render(pagination) }}
</nav>

<a href="{{ path('blog_show', {'author': author}) }}" class="pull-right important">Liste des articles de {{ author }}</a>

{% endblock %}
