{% extends 'BernusDesignBundle::base.html.twig' %}

{% block title %}L'Outre-Ça{% endblock title %}

{% block navbar %}
<div id="nav" class="container">
    {{ mopa_bootstrap_menu('BlogBlogBundle:MenuBuilder:menu', {"automenu": "pills"}) }}
</div>
{{ parent() }}
{% endblock navbar %}

{% block jquery_cdn_url %}//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js{% endblock jquery_cdn_url %}
{% block jquery_local_url %}{{ asset('js/jquery.js') }}{% endblock jquery_local_url %}

{% block foot_script %}
{{ parent() }}
{% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock foot_script %}

{% block footer %}{% endblock footer %}
