{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block title %}L'Outre-Ça{% endblock title %}

{% block head_style %}
    {{ parent() }}
     <style>
        body {
            background-color: #111111;
            padding-top: 150px;
            padding-bottom: 150px;
        }
        .row div {
            text-align: center;
        }
        .row .col-md-6 {
            height: 250px;
            margin: -100px 0;
        }
    </style>
{% endblock head_style %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('blog', { 'author': "Oxylos", 'page': 1 }) }}">
                <img src="/bundles/bernusdesign/images/banner/Oxylos.png" alt="Oxylos" height="200px">
        </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('blog', { 'author': "Tarran", 'page': 1 }) }}">
                <img src="/bundles/bernusdesign/images/banner/Tarran.png" alt="Tarran" height="200px">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="/bundles/bernusdesign/images/banner/Outre_Ca.png" alt="Tarran" height="400px">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('blog', { 'author': "Dora", 'page': 1 }) }}">
                <img src="/bundles/bernusdesign/images/logo/community.png" alt="Communauté" height="200px">
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('about') }}">
                <img src="/bundles/bernusdesign/images/logo/about.png" alt="À propos" height="200px">
            </a>
        </div>
    </div>
</div>
{% endblock container %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
    $("a > img").hover(function () {
        $(this).stop().animate({height: '250px'}, "slow");
    }, function () {
        $(this).stop().animate({height: '220px'}, "slow");
    });
</script>
{% endblock foot_script %}
