{% extends 'BernusDesignBundle::base.html.twig' %}

{% block title %}L'Outre-Ça{% endblock title %}

{% block head_style %}
    {{ parent() }}
     <style>
        body {
            background-color: #111111;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .row div {
            text-align: center;
        }
    </style>
{% endblock head_style %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('blog', { 'author': "Oxylos", 'page': 1 }) }}">
                {% image '@BernusDesignBundle/Resources/images/homepage_Oxylos.png' %}
                    <img src="{{ asset_url }}" alt="Oxylos" height="200px">
                {% endimage %}
        </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('blog', { 'author': "Tarran", 'page': 1 }) }}">
                {% image '@BernusDesignBundle/Resources/images/homepage_Tarran.png' %}
                    <img src="{{ asset_url }}" alt="Tarran" height="200px">
                {% endimage %}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% image '@BernusDesignBundle/Resources/images/homepage_title.png' %}
                <img src="{{ asset_url }}" alt="Tarran" height="400px">
            {% endimage %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('blog', { 'author': "Dora", 'page': 1 }) }}">
                {% image '@BernusDesignBundle/Resources/images/homepage_community.png' %}
                    <img src="{{ asset_url }}" alt="Communauté" height="200px">
                {% endimage %}
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('about') }}">
                {% image '@BernusDesignBundle/Resources/images/homepage_about.png' %}
                    <img src="{{ asset_url }}" alt="À propos" height="200px">
                {% endimage %}
            </a>
        </div>
    </div>
</div>
{% endblock container %}
